@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

nav {position: -webkit-sticky;
     position: sticky;
     top: 0;
      z-index: 1;}

.pair {background-image: url(horses.jpg);
 height: 678px;
        width: auto;
background-repeat: no-repeat;}


.card1 {padding-top: 80px;
        padding-left: 30px;}

.card img {border-radius: 50px;}

.card-title {font-family: 'Caveat:wght@500&display=swap', cursive,sans-serif;
             font-size: x-large;}

.display-4 {color: rgb(218, 40, 40);
            font-family: 'Caveat:wght@500&display=swap', cursive,sans-serif;
            padding-left: 43%;}

.card-size {width: 400px;
            padding-top: 30px;
            margin: auto;
           }



.card-size img {width: 350px;
                margin: auto;
                padding-top: 50px;
                border-radius: 60%;}

.card-size h5 {padding-top: 25px;
        font-size: 40px;}

.singles {background-color: rgb(218, 40, 40);
          height: 300px;
          margin-top: -31px;}

.singles img {margin-left: 90px;
              padding-top: 30px;
              padding-bottom: 30px;}

.singles h5 {color: white;
             font-size: 40px;}

.singles li {color: white;
             font-size: 25px;
             font-family: 'Caveat:wght@500&display=swap', cursive,sans-serif;}

.text1 {color: rgb(218, 40, 40);
        font-family: 'Caveat:wght@500&display=swap', cursive,sans-serif;
        padding-top: 50px;}

.buttons {padding-top: 50px;
          padding-bottom: 50px;}

.near {background-color: rgb(187, 123, 123);}

.carousel-item img {width: 60%; 
                   border-radius: 50px 50px 50px 50px;
                   margin-left: 20%;
                   padding-top: 20px;
                   padding-bottom: 20px;
                   }

footer {background-color: rgb(187, 123, 123);
        height: 200px;}

.footer-nest {padding-top: 65px;}

.foot {padding-top: 20px;
       padding-bottom: 50px;}

#cta {background-color: whitesmoke;
      height: 280px;}

.dropdown-menu label {padding-left: 10px;}
.dropdown-menu input {width: 100px;
                      height: 20px;
                      margin-left: 5%;}

.dropdown-menu button {margin-left: 24%;}




@media only screen and (min-width:200px) and (max-width:1100px){


.btn-group {margin-left: 150px;}

.near {height: 800px;}
.carousel-item img {height: 800px; width: 100%;
        margin: auto; 
        margin-top: 15px;}

#cta {height: 280px;}

#cta h1 {font-size: 50px;}

footer {height: 400px;}

.footer-nest {font-size: 40px;
             height: 400px;
             padding-top: 120px;}

.lol {height: 400px;
      background-color: whitesmoke;}
        }







       

